__pycache__/
*.pyc
.pytest_cache/
.coverage
htmlcov/
.env
venv/
.venv/
dist/
*.egg-info/
reports/*.xml
reports/*.html

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json